main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.Mad-Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: -1px 0 5px #333;
  background-color: #e0a800;
  border-color: transparent;
  color: white;
}
.navbar_font-color {
  color: white;
}

.dropdown-menu {
  background-color: #e0a800 !important;
  border: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
